* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
}


/* side bar */
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar:hover::-webkit-scrollbar {
    display: block;
    width: 5px;
}

/* Track */
.sidebar:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.sidebar:hover::-webkit-scrollbar-thumb {
    background: #c1c0c0;
    border-radius: 15px;

}

/* Handle on hover */
.sidebar:hover::-webkit-scrollbar-thumb:hover {
    background: #a6a3a3;
    border-radius: 15px;

}


.sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: rgb(255, 150, 0);
    border-right: none;
    overflow-y: scroll;
}

.sidebar_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0px;
}

.sidebar_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.sidebar_main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_main .sidebar_main_ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.sidebar_main .sidebar_main_ul .sidebar_main_ul_li {
    width: 95%;
    margin: 1.2rem 0px;
    padding: 0.5rem 0px;
    background: rgb(255, 150, 0);
    border-radius: 5px;
}

.sidebar_main .sidebar_main_ul .sidebar_main_ul_li:hover {
    background: rgba(255, 171, 51);
}

.sidebar_main .sidebar_main_ul .sidebar_main_ul_li i {
    color: #fff;
    font-size: 1.1rem;

}

.sidebar_main .sidebar_main_ul .sidebar_main_ul_li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 2rem;
}

.sidebar_main_ul_ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
}

.sidebar_main_ul_ul_li {
    width: 95%;
    padding: 0.5rem 2rem;
    background: rgb(255, 150, 0);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;

}

.sidebar_main_ul_ul_li:hover {
    background: rgba(255, 171, 51);
}

/* sidebar dropdown */
.sidebar_main_ul_others_content {
    width: 95%;
    background: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
}

.sidebar_main_ul_others_content.show_sidebar {
    width: 95%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #353535;
    margin-top: 1rem;
}

.sidebar_main_ul_others_content_ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.sidebar_main_ul_others_content_ul_li {
    width: 95%;
    margin: 0.5rem 0px;
    padding: 0.5rem 0px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar_main_ul_others_content_ul_li a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.1rem;
    color: #000;

}
@media(max-width:950px){
    .sidebar {
        position: sticky;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30%;
        height: 100vh;
        background: rgb(255, 150, 0);
        border-right: none;
        overflow-y: scroll;
    }
}

@media(max-width:850px){
    .sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30%;
        height: 100vh;
        background: rgb(255, 150, 0);
        border-right: none;
        overflow-y: scroll;
        transform: scale(0);
        transition: 0.8s;
        display: none;
    }
    .sidebar.show_sidebar{
        position: absolute;
        top: 3.5rem;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background: rgb(255, 150, 0);
        border-right: none;
        overflow-y: scroll;
        transform: scale(1);
        transition: 0.8s;
        display: block;
        z-index: 111;
    }
    
}
@media(max-width:500px){
    .sidebar.show_sidebar{
        position: absolute;
        top: 3.5rem;
        bottom: 0;
        left: 0;
        width: 90%;
        height: 100vh;
        background: rgb(255, 150, 0);
        border-right: none;
        overflow-y: scroll;
        transform: scale(1);
        transition: 0.8s;
        display: block;
        z-index: 111;
    }
}

/* sidebar query end */


/* main */


.main {
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


/* navbar */

.navbar {
    width: 100%;
    height: 60px;
    background: rgb(255, 150, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .grid {
    width: 10%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.navbar .grid i {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
}

.nav {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.profile {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    padding: 0px 1rem;
    cursor: pointer;
}

.profile h3 {
    margin-right: 0.5rem;
    color: #fff;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* profile_detail */

.pro_detail {
    position: absolute;
    top:4rem;
    bottom: 0;
    right: 1rem;
    width: 20%;
    height: 120px;
    border-radius: 5px;
    background: rgb(255, 150, 0);
    transform: scale(0);
    opacity: 0;

}
.pro_detail.show_profile{
    position: absolute;
    top: 4rem;
    bottom: 0;
    right: 1rem;
    width: 20%;
    height: 120px;
    border-radius: 5px;
    background: rgb(255, 150, 0);
    transform: scale(1);
    opacity: 1;

}
.pro_ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0px;
}

.pro_li {
    margin: 0.5rem 0px;
    padding: 10px 0px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.pro_li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.pro_li:hover {
    background: rgba(255, 171, 51)
}


/* main container */

.main_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.main_head{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1rem;
}
.main_about_add{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 1rem;
    margin-top: 2rem;
}
.main_about_add button{
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 5px;
    background: rgb(255, 150, 0);
    color: #fff;
    cursor: pointer;
}
.main_head_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}
.about_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.about_img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_img img{
    width: 95%;
    border-radius: 10px;
}
.about_text{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about_text h3{
    margin-bottom: 1rem;
}

/* our_team */

.our_team{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.team_head{
    width: 100%;
    display: flex;
    padding-left: 1rem;
    margin-bottom: 2rem;
}
.team_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
}
.team_card{
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;  
    margin: auto; 
}
.team_card img{
    width: 95%;
    border-radius: 50%;
}
.team_card_text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* about form */

/* add product form */

.about_form{
    width: 35%;
    position: absolute;
    top: 30%;
    right: 10%;
    border: 1px solid #353535;
    border-radius: 10px;
    background: #f8f8f8;
    display: none;
}
.about_form.open_modal{
    width: 35%;
    position: absolute;
    top: 30%;
    right: 10%;
    border: 1px solid #353535;
    border-radius: 10px;
    background: #f8f8f8;
    display: block;
}
.about_form form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0px;
}
.about_form form .name{
    width: 80%;
    height: 35px;
    margin: 1rem 0px;
    border: none;
    border-radius: 5px;
    
}
.about_form form .name input{
    width: 100%;
    height: 100%;
    border: 1px solid #353535;
    border-radius: 5px;
    padding-left: 1rem;
}
.team_form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_btn button{
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 5px;
    background: rgb(255, 150, 0);
    color: #fff;
    cursor: pointer;
}


@media(max-width:850px){
    .main{
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .nav {
        width: 90%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .navbar .grid {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pro_detail.show_profile{
        position: absolute;
        top: 4rem;
        bottom: 0;
        right: 1rem;
        width: 40%;
        height: 120px;
        border-radius: 5px;
        background: rgb(255, 150, 0);
        transform: scale(1);
        opacity: 1;
       z-index: 9999;
    }
    /* about us media query */

    .about_container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }
    .about_text{
        margin-top: 1rem;
    }

    /* about form media query */

    .about_form{
        width: 50%;
        position: absolute;
        top: 30%;
        right: 10%;
        border: 1px solid #353535;
        border-radius: 10px;
        background: #f8f8f8;
        display: none;
    }
    .about_form.open_modal{
        width: 50%;
        position: absolute;
        top: 30%;
        right: 10%;
        border: 1px solid #353535;
        border-radius: 10px;
        background: #f8f8f8;
        display: block;
    }

}
@media (max-width:650px){
        /* about form media query */

        .about_form{
            width: 55%;
            position: absolute;
            top: 30%;
            right: 10%;
            border: 1px solid #353535;
            border-radius: 10px;
            background: #f8f8f8;
            display: none;
        }
        .about_form.open_modal{
            width: 55%;
            position: absolute;
            top: 30%;
            right: 10%;
            border: 1px solid #353535;
            border-radius: 10px;
            background: #f8f8f8;
            display: block;
        }
}
@media(max-width:540px){

    /* navbar media query */

    .pro_detail.show_profile{
        position: absolute;
        top: 4rem;
        bottom: 0;
        right: 1rem;
        width: 50%;
        height: 120px;
        border-radius: 5px;
        background: rgb(255, 150, 0);
        transform: scale(1);
        opacity: 1;
    
    }

    /* navbar media query end */


    /* about form media query */

    .about_form{
        width: 70%;
        position: absolute;
        top: 30%;
        right: 10%;
        border: 1px solid #353535;
        border-radius: 10px;
        background: #f8f8f8;
        display: none;
    }
    .about_form.open_modal{
        width: 70%;
        position: absolute;
        top: 30%;
        right: 10%;
        border: 1px solid #353535;
        border-radius: 10px;
        background: #f8f8f8;
        display: block;
    }

}
@media(max-width:450px){

    /* navbar media query */

    .pro_detail.show_profile{
        position: absolute;
        top: 4rem;
        bottom: 0;
        right: 1rem;
        width: 60%;
        height: 120px;
        border-radius: 5px;
        background: rgb(255, 150, 0);
        transform: scale(1);
        opacity: 1;
    
    }
    /* navbar media query end */


    /* about form media query */

    .about_form{
        width: 85%;
        position: absolute;
        top: 30%;
        right: 10%;
        border: 1px solid #353535;
        border-radius: 10px;
        background: #f8f8f8;
        display: none;
    }
    .about_form.open_modal{
        width: 85%;
        position: absolute;
        top: 30%;
        right: 10%;
        border: 1px solid #353535;
        border-radius: 10px;
        background: #f8f8f8;
        display: block;
    }

}